<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-5 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Huzur Dolu bir tatil</h6>
                <h1 class="text-white mb-4">Otelimizi daha yakından tanıyın</h1>
                <p class="text-white mb-4">Sizler için hazırladığımız tanıtım videosunu izleyip otelimiz hakkında daha fazla bilgi sahibi olabilirsiniz</p>
                <a href="/Booking/Index/" class="btn btn-primary py-md-3 px-md-5 me-3">Odalarımız</a>
                <a href="/Booking/Index/" class="btn btn-light py-md-3 px-md-5">Rezervasyon yap</a>
            </div>
        </div>
        <div class="col-md-5" style="margin-left:10px">
            <iframe width="560" height="415" src="https://www.youtube.com/embed/2vxkv9h4LgQ?si=4CWVzwOfi3FIyzLE" title="YouTube video player" frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div>